body {
    margin-left: 2cm;
    color: white;
    background-attachment: fixed;
}

label {
    display: block;
}
  
#naslov {
    text-transform: capitalize;
}

.bnt-link {
    margin-top: 1cm;
    background: #fff;
    border: 2px solid blue;
    color: blue;
    display: inline-block;
    margin-bottom: 8px;
    padding: 10px;
    text-decoration: none;
    transition: .2s;
  }

.bnt-link:hover {
    color: white;
    border: 4px solid white;
    background: blue;
}
